<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iason.product.mapper.ProductManageMapper">
  <resultMap id="BaseResultMap" type="com.iason.product.data.entity.ProductManage">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="PRODUCT_NAME" jdbcType="VARCHAR" property="productName" />
    <result column="ICON_URL" jdbcType="VARCHAR" property="iconUrl" />
    <result column="SALE_PRICE" jdbcType="DECIMAL" property="salePrice" />
    <result column="MARKET_PRICE" jdbcType="DECIMAL" property="marketPrice" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="STOCK_NUM" jdbcType="DECIMAL" property="stockNum" />
    <result column="SALE_NUM" jdbcType="DECIMAL" property="saleNum" />
    <result column="DESCRIPTION_URL" jdbcType="VARCHAR" property="descriptionUrl" />
    <result column="CATE_ID" jdbcType="DECIMAL" property="cateId" />
    <result column="ALBUM_URL" jdbcType="VARCHAR" property="albumUrl" />
  </resultMap>
</mapper>